node_modules
dist
coverage
*.log
*.tsbuildinfo
.DS_Store
.turbo
apps/primitives/primitives-storybook/.codemap
apps/primitives/primitives-storybook/storybook-static
apps/primitives/solid-primitives/.codemap
packages/storybook/.codemap
